{% for item in category_sections %}
    {% if item.category == section.choose_category %}

        <div class="row">
            <!-- Slider START -->
            <div class="tiny-slider arrow-round arrow-creative arrow-blur arrow-hover">
                <div class="tiny-slider-inner" data-autoplay="false" data-arrow="true" data-dots="false" data-items-xl="3" data-items-md="2" data-items-xs="1">

                    {% for post in item.posts %}
                        <div class="card bg-transparent">
                            <div class="position-relative">
                                {% if post.thumbnail %}
                                    <img src="{{ post.thumbnail.src|resize(403,227) }}" class="card-img" alt="{{ post.thumbnail.alt }}" />
                                {% endif %}
                                <div class="card-img-overlay d-flex align-items-start flex-column p-3">
                                    <div class="w-100 mt-auto">
                                        <a href="#" class="badge text-dark bg-white fs-6 rounded-1">
                                            <i class="far fa-calendar-alt text-orange me-2"></i>
                                            {{ post.date|date("F j, Y") }}
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body px-2">
                                <h5 class="card-title">
                                    <a href="#">
                                        {{ post.title }}
                                    </a>
                                </h5>
                                <div class="d-flex justify-content-between align-items-center">
                                    <Address class="mb-0">
                                        <i class="fas fa-map-marker-alt me-2"></i>
                                        Ireland
                                    </Address>
                                    <a href="#" class="btn btn-sm btn-primary-soft mb-0">
                                        Read more
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}
