{% for item in category_sections %}
    {% if item.category == section.choose_category %}
        <div class="row g-4 filter-container overflow-hidden" data-isotope='{"layoutMode": "masonry"}'>
            {% for post in item.posts %}
                {% include 'tease-'~post.post_type~'.twig' %}
            {% endfor %}
        </div>
    {% endif %}
{% endfor %}
