<section class="mb-n9 position-relative z-index-9">
    <div class="container">
        <div class="row">
            <div class="col-11 col-md-10 mx-auto">
                <div class="bg-warning rounded-3 shadow p-3 p-sm-4 position-relative overflow-hidden">
                    <!-- SVG decoration -->
                    <figure class="position-absolute top-100 start-100 translate-middle mt-n6 ms-n5">
                        <svg width="211px" height="211px">
                            <path class="fill-white opacity-4" d="M210.030,105.011 C210.030,163.014 163.010,210.029 105.012,210.029 C47.013,210.029 -0.005,163.014 -0.005,105.011 C-0.005,47.015 47.013,-0.004 105.012,-0.004 C163.010,-0.004 210.030,47.015 210.030,105.011 Z"></path>
                        </svg>
                    </figure>
                    <!-- SVG decoration -->
                    <figure class="position-absolute top-100 start-0 translate-middle mt-n6 ms-5">
                        <svg width="141px" height="141px">
                            <path class="fill-white opacity-4" d="M140.520,70.258 C140.520,109.064 109.062,140.519 70.258,140.519 C31.454,140.519 -0.004,109.064 -0.004,70.258 C-0.004,31.455 31.454,-0.003 70.258,-0.003 C109.062,-0.003 140.520,31.455 140.520,70.258 Z"></path>
                        </svg>
                    </figure>
                    <!-- SVG decoration -->
                    <figure class="position-absolute top-0 start-50 mt-4 ms-n9">
                        <svg width="41px" height="41px">
                            <path class="fill-white opacity-4" d="M40.531,20.265 C40.531,31.458 31.457,40.531 20.265,40.531 C9.072,40.531 -0.001,31.458 -0.001,20.265 C-0.001,9.073 9.072,-0.001 20.265,-0.001 C31.457,-0.001 40.531,9.073 40.531,20.265 Z"></path>
                        </svg>
                    </figure>

                    <!-- Icon logos START -->
                    <div class="p-2 bg-white shadow rounded-3 rotate-74 position-absolute top-0 start-0 ms-3 mt-5 d-none d-sm-block">
                        <img src="{{ site.theme.link }}/assets/images/subscribe/icon-email-subscribe-1.svg" class="h-30px" alt="Icon" />
                    </div>
                    <div class="p-1 bg-white shadow rounded-3 rotate-320 position-absolute top-0 end-0 mt-5 me-5 d-none d-sm-block">
                        <img src="{{ site.theme.link }}/assets/images/subscribe/icon-email-subscribe-3.svg" class="h-30px" alt="Icon" />
                    </div>
                    <div class="p-2 bg-white shadow rounded-3 rotate-0 position-absolute bottom-0 start-50 ms-5 mb-2 d-none d-lg-block">
                        <img src="{{ site.theme.link }}/assets/images/subscribe/icon-email-subscribe-2.svg" class="h-20px" alt="Icon" />
                    </div>
                    <!-- Icon logos END -->

                    <div class="row">
                        <div class="col-md-12 mx-auto text-center py-5 position-relative">
                            <div class="row justify-content-center">
                                <div class="col-xl-9 col-lg-10 col-md-11">
                                    <!-- Title -->
                                    <h3 class="h1 d-md-inline-block position-relative mb-md-5 mb-sm-4 text-sm-start text-center">
                                        Don't Want to Miss Anything?
                                        <!-- Arrow shape -->
                                        <svg class="d-md-block d-none position-absolute top-0 ms-4 ps-1" style="left: 100%;" xmlns="http://www.w3.org/2000/svg" width="65" height="68" fill="#6366f1">
                                            <path d="M53.9527 51.0012c8.396-10.5668 2.0302-26.0134-11.7481-26.7511-.6899-.0646-1.4612.0015-2.1258.0431.1243 9.0462-4.1714 18.8896-11.5618 21.3814-6.6695 2.2133-10.3337-4.2224-7.5813-9.676 3.2966-6.4755 9.103-11.8504 16.1678-13.8189-.5654-5.6953-3.3436-10.7672-9.485-12.48517C17.2678 6.8204 6.49364 16.3681 4.98841 26.127c-.09276 1.0297-1.68569.9497-1.59293-.0801C3.98732 12.9139 19.7395 2.55212 31.9628 8.5787c4.7253 2.3813 7.2649 7.3963 7.9368 13.067 7.4237-.9311 14.5154 3.3683 18.3422 9.5422 4.3988 7.1623 2.3584 15.1401-2.6322 21.1108-.7826.9653-2.3331-.3572-1.6569-1.2975zM26.7754 32.1845c-1.9411 2.2411-4.076 5.0872-4.3542 8.1764-.3036 2.9829 3.7601 3.0525 5.4905 2.7645 2.1568-.3863 3.7221-2.3164 4.8863-4.0419 2.6228-3.6308 4.3657-9.0752 4.4844-14.2563-4.0808 1.279-7.6514 4.2327-10.507 7.3573zm24.6311 25.592c-.7061-2.9738-1.2243-6.1031-1.1591-9.143.0423-1.242 1.767-1.0805 1.8313.1372.1284 2.435.815 4.8532 1.4764 7.1651l4.1619-1.4098c1.0153-.4586 2.4373-1.5714 3.6544-1.1804.6087.1954.7347.7264.6475 1.3068-.2302 1.3976-2.4683 1.9147-3.5901 2.398-1.8429.7619-3.6293 1.2865-5.5477 1.7298-.6391.1476-1.3233-.3665-1.4746-1.0037z" />
                                        </svg>
                                    </h3>

                                    <!-- Title + checkboxes -->
                                    <div class="row gy-4 align-items-center mb-lg-5 mb-4 pb-0">
                                        <div class="col-md-3">
                                            <h3 class="h5 mb-0 text-sm-start text-center">
                                                Sign up for
                                                Newsletters
                                            </h3>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="row row-cols-sm-3 row-cols-2 gy-2">
                                                <div class="col text-sm-start">
                                                    <div class="form-check mb-0">
                                                        <input type="checkbox" id="s-daily-newsletter" class="form-check-input">
                                                            <label for="s-daily-newsletter" class="form-check-label text-dark-gray ">
                                                                Daily
                                                                Newsletter
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col text-sm-start">
                                                        <div class="form-check mb-0">
                                                            <input type="checkbox" id="s-advertising-updates" class="form-check-input" checked>
                                                                <label for="s-advertising-updates" class="form-check-label text-dark-gray ">
                                                                    Advertising
                                                                    Updates
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col text-sm-start">
                                                            <div class="form-check mb-0">
                                                                <input type="checkbox" id="s-week-in-review" class="form-check-input">
                                                                    <label for="s-week-in-review" class="form-check-label text-dark-gray ">
                                                                        Week in
                                                                        Review
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="col text-sm-start">
                                                                <div class="form-check mb-0">
                                                                    <input type="checkbox" id="s-event-updates" class="form-check-input">
                                                                        <label for="s-event-updates" class="form-check-label text-dark-gray ">
                                                                            Event
                                                                            Updates
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="col text-sm-start">
                                                                    <div class="form-check mb-0">
                                                                        <input type="checkbox" id="s-startups-weekly" class="form-check-input">
                                                                            <label for="s-startups-weekly" class="form-check-label text-dark-gray ">
                                                                                Startups
                                                                                Weekly
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col text-sm-start">
                                                                        <div class="form-check mb-0">
                                                                            <input id="s-podcasts" type="checkbox" class="form-check-input">
                                                                                <label for="s-podcasts" class="form-check-label text-dark-gray ">
                                                                                    Podcasts
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <form class="row align-items-center justify-content-center mt-3">
                                                                <div class="col-lg-8">
                                                                    <div class="bg-body shadow rounded-pill p-2">
                                                                        <div class="input-group">
                                                                            <input class="form-control border-0 me-1" type="email" placeholder="Enter your email">
                                                                                <button type="button" class="btn btn-blue mb-0 rounded-pill">
                                                                                    Subscribe!
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                                <div class="form-text fs-sm text-center text-dark-gray">
                                                                    * Yes, I agree to the
                                                                    <a href="#">
                                                                        terms
                                                                    </a>
                                                                    and
                                                                    <a href="#">
                                                                        privacy
                                                                        policy
                                                                    </a>
                                                                    .
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            