
	<!-- Top header START -->
	<div class="navbar-top navbar-dark bg-light d-none d-xl-block py-2 mx-2 mx-md-4 rounded-bottom-4">
		<div class="container">
			<div class="d-lg-flex justify-content-lg-between align-items-center">
				<!-- Navbar top Left-->
				<!-- Top info -->
				<ul class="nav align-items-center justify-content-center">
					<li class="nav-item me-3" data-bs-toggle="tooltip" data-bs-animation="false"
						data-bs-placement="bottom" data-bs-original-title="Saturday & Sunday CLOSED">
						<span><i class="far fa-clock me-2"></i>Visit time: Mon-Fri 9:00-6:00</span>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#"><i class="fas fa-headset me-2"></i>Call us now: +977-1234567890</a>
					</li>
				</ul>

				<!-- Navbar top Right-->
				<div class="d-flex align-items-center justify-content-center">
					<!-- Career -->
					<ul class="nav align-items-center justify-content-center">
						<li class="nav-item me-3 dropdown nav-search">
							<a class="px-2 nav-link position-relative" href="#" id="navCareer" data-bs-toggle="dropdown"
								aria-expanded="true" data-bs-auto-close="outside" data-bs-display="static">
								Career
								<span
									class="position-absolute top-25 start-100 translate-middle p-1 bg-orange border border-light rounded-circle">
									<span class="visually-hidden">New career alerts</span>
								</span>
							</a>
							<div class="dropdown-menu dropdown-menu-end shadow rounded p-2" aria-labelledby="navCareer"
								data-bs-popper="none">

								<!-- Career alert -->
								<ul class="list-group list-group-borderless p-2 small">
									<li class="list-group-item d-flex justify-content-between align-items-center">
										<span class="fw-bold">Recent Career:</span>
										<a href="career.html" class="btn btn-sm btn-link mb-0 px-0">View all</a>
									</li>
									<li
										class="list-group-item text-primary-hover d-flex justify-content-between align-items-center">
										<a href="career.html" class="text-body  text-truncate">Digital marketing <span
												class="badge bg-secondary">3</span></a>
										<span> <i class="far fa-clock me-1"></i>3 days left</span>
									</li>
									<li
										class="list-group-item text-primary-hover d-flex justify-content-between align-items-center">
										<a href="career.html" class="text-body  text-truncate">Front-end Developer <span
												class="badge bg-secondary">2</span></a>
										<span> <i class="far fa-clock me-1"></i>1 week left</span>
									</li>
									<li
										class="list-group-item text-primary-hover d-flex justify-content-between align-items-center">
										<a href="career.html" class="text-body  text-truncate">UI/UX Designer <span
												class="badge bg-secondary">1</span></a>
										<span> <i class="far fa-clock me-1"></i>2 weeks left</span>
									</li>
									<li
										class="list-group-item text-primary-hover d-flex justify-content-between align-items-center">
										<a href="career.html" class="text-body  text-truncate">Back-End Developer <span
												class="badge bg-secondary">3</span></a>
										<span> <i class="far fa-clock me-1"></i>1 week left</span>
									</li>
								</ul>
							</div>
						</li>
					</ul>

					<!-- Top social -->
					<ul class="list-unstyled d-flex mb-0">
						<li> <a class="px-2 nav-link" href="#"><i class="fab fa-facebook"></i></a> </li>
						<li> <a class="px-2 nav-link" href="#"><i class="fab fa-instagram"></i></a> </li>
						<li> <a class="px-2 nav-link" href="#"><i class="fab fa-twitter"></i></a> </li>
						<li> <a class="ps-2 nav-link" href="#"><i class="fab fa-linkedin-in"></i></a> </li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- Top header END -->
