{% if posts.pagination.pages is not empty %}
    <a href="#" id="js-load-more" class="btn btn-primary-soft mb-0" data-totalPages="{{ total_posts}}" data-postsPerPage="{{ posts_per_page}}">
        Load more
        <i class="fas fa-sync ms-2"></i>
    </a>
{% endif %}
