@charset "UTF-8";

.min-w-auto {
  min-width: auto !important;
}

.vh-100 {
  height: 100vh !important;
}

.h-20px {
  height: 20px !important;
}

.h-30px {
  height: 30px !important;
}

.h-40px {
  height: 40px !important;
}

.h-50px {
  height: 50px !important;
}

.h-60px {
  height: 60px !important;
}

.h-70px {
  height: 70px !important;
}

.h-100px {
  height: 100px !important;
}

.h-200px {
  height: 200px !important;
}

.h-300px {
  height: 300px !important;
}

.h-350px {
  height: 350px !important;
}

.h-400px {
  height: 400px !important;
}

.h-500px {
  height: 500px !important;
}

.h-600px {
  height: 600px !important;
}

.h-700px {
  height: 700px !important;
}

.h-800px {
  height: 800px !important;
}

.w-40px {
  width: 40px !important;
}

.w-50px {
  width: 50px !important;
}

.w-60px {
  width: 60px !important;
}

.w-70px {
  width: 70px !important;
}

.w-80px {
  width: 80px !important;
}

.w-100px {
  width: 100px !important;
}

.w-200px {
  width: 200px !important;
}

.w-280px {
  width: 280px !important;
}

.w-400px {
  width: 400px !important;
}

.bg-opacity-15 {
  --bs-bg-opacity: 0.15;
}

.olive-fill-primary {
  fill: #ffc929 !important;
}

.olive-fill-secondary {
  fill: #01FFA6 !important;
}

.fill-primary {
  fill: #066ac9 !important;
}

.fill-white {
  fill: #fff !important;
}

.fill-secondary {
  fill: #9a9ea4 !important;
}

.fill-success {
  fill: #0cbc87 !important;
}

.fill-info {
  fill: #17a2b8 !important;
}

.fill-warning {
  fill: #f7c32e !important;
}

.fill-danger {
  fill: #d6293e !important;
}

.fill-light {
  fill: #f5f7f9 !important;
}

.fill-dark {
  fill: #24292d !important;
}

.fill-orange {
  fill: #fd7e14 !important;
}

.fill-purple {
  fill: #6f42c1 !important;
}

.fill-blue {
  fill: #1d3b53 !important;
}

.fill-body {
  fill: #fff !important;
}

.z-index-0 {
  z-index: 0 !important;
}

.z-index-1 {
  z-index: 1 !important;
}

.z-index-9 {
  z-index: 9 !important;
}

.z-index-99 {
  z-index: 99 !important;
}

.z-index-n1 {
  z-index: -1 !important;
}

.z-index-n9 {
  z-index: -9 !important;
}

.rotate-10 {
  -webkit-transform: rotate(10deg) !important;
          transform: rotate(10deg) !important;
}

.rotate-74 {
  -webkit-transform: rotate(74deg) !important;
          transform: rotate(74deg) !important;
}

.rotate-130 {
  -webkit-transform: rotate(130deg) !important;
          transform: rotate(130deg) !important;
}

.rotate-180 {
  -webkit-transform: rotate(180deg) !important;
          transform: rotate(180deg) !important;
}

.rotate-186 {
  -webkit-transform: rotate(186deg) !important;
          transform: rotate(186deg) !important;
}

.rotate-193 {
  -webkit-transform: rotate(193deg) !important;
          transform: rotate(193deg) !important;
}

.rotate-320 {
  -webkit-transform: rotate(320deg) !important;
          transform: rotate(320deg) !important;
}

.border-dashed {
  border-style: dashed !important;
}

.rounded-4 {
  border-radius: 1rem !important;
}

.rounded-top-4 {
  border-top-left-radius: 1rem !important;
  border-top-right-radius: 1rem !important;
}

.rounded-bottom-4 {
  border-bottom-left-radius: 1rem !important;
  border-bottom-right-radius: 1rem !important;
}

.lh-0 {
  line-height: 0 !important;
}

.opacity-0 {
  opacity: 0 !important;
}

.opacity-1 {
  opacity: 0.1 !important;
}

.opacity-2 {
  opacity: 0.2 !important;
}

.opacity-3 {
  opacity: 0.3 !important;
}

.opacity-4 {
  opacity: 0.4 !important;
}

.opacity-5 {
  opacity: 0.5 !important;
}

.opacity-6 {
  opacity: 0.6 !important;
}

.opacity-7 {
  opacity: 0.7 !important;
}

.opacity-8 {
  opacity: 0.8 !important;
}

.opacity-9 {
  opacity: 0.9 !important;
}

@media (min-width: 576px) {
  .vh-sm-100 {
    height: 100vh !important;
  }

  .h-sm-20px {
    height: 20px !important;
  }

  .h-sm-30px {
    height: 30px !important;
  }

  .h-sm-40px {
    height: 40px !important;
  }

  .h-sm-50px {
    height: 50px !important;
  }

  .h-sm-60px {
    height: 60px !important;
  }

  .h-sm-70px {
    height: 70px !important;
  }

  .h-sm-100px {
    height: 100px !important;
  }

  .h-sm-200px {
    height: 200px !important;
  }

  .h-sm-300px {
    height: 300px !important;
  }

  .h-sm-350px {
    height: 350px !important;
  }

  .h-sm-400px {
    height: 400px !important;
  }

  .h-sm-500px {
    height: 500px !important;
  }

  .h-sm-600px {
    height: 600px !important;
  }

  .h-sm-700px {
    height: 700px !important;
  }

  .w-sm-40px {
    width: 40px !important;
  }

  .w-sm-50px {
    width: 50px !important;
  }

  .w-sm-60px {
    width: 60px !important;
  }

  .w-sm-70px {
    width: 70px !important;
  }

  .w-sm-80px {
    width: 80px !important;
  }

  .w-sm-100px {
    width: 100px !important;
  }

  .w-sm-200px {
    width: 200px !important;
  }

  .w-sm-280px {
    width: 280px !important;
  }

  .w-sm-400px {
    width: 400px !important;
  }
}
@media (min-width: 768px) {
  .vh-md-100 {
    height: 100vh !important;
  }

  .h-md-20px {
    height: 20px !important;
  }

  .h-md-30px {
    height: 30px !important;
  }

  .h-md-40px {
    height: 40px !important;
  }

  .h-md-50px {
    height: 50px !important;
  }

  .h-md-60px {
    height: 60px !important;
  }

  .h-md-70px {
    height: 70px !important;
  }

  .h-md-100px {
    height: 100px !important;
  }

  .h-md-200px {
    height: 200px !important;
  }

  .h-md-300px {
    height: 300px !important;
  }

  .h-md-350px {
    height: 350px !important;
  }

  .h-md-400px {
    height: 400px !important;
  }

  .h-md-500px {
    height: 500px !important;
  }

  .h-md-600px {
    height: 600px !important;
  }

  .h-md-700px {
    height: 700px !important;
  }

  .w-md-40px {
    width: 40px !important;
  }

  .w-md-50px {
    width: 50px !important;
  }

  .w-md-60px {
    width: 60px !important;
  }

  .w-md-70px {
    width: 70px !important;
  }

  .w-md-80px {
    width: 80px !important;
  }

  .w-md-100px {
    width: 100px !important;
  }

  .w-md-200px {
    width: 200px !important;
  }

  .w-md-280px {
    width: 280px !important;
  }

  .w-md-400px {
    width: 400px !important;
  }
}
@media (min-width: 992px) {
  .vh-lg-100 {
    height: 100vh !important;
  }

  .h-lg-20px {
    height: 20px !important;
  }

  .h-lg-30px {
    height: 30px !important;
  }

  .h-lg-40px {
    height: 40px !important;
  }

  .h-lg-50px {
    height: 50px !important;
  }

  .h-lg-60px {
    height: 60px !important;
  }

  .h-lg-70px {
    height: 70px !important;
  }

  .h-lg-100px {
    height: 100px !important;
  }

  .h-lg-200px {
    height: 200px !important;
  }

  .h-lg-300px {
    height: 300px !important;
  }

  .h-lg-350px {
    height: 350px !important;
  }

  .h-lg-400px {
    height: 400px !important;
  }

  .h-lg-500px {
    height: 500px !important;
  }

  .h-lg-600px {
    height: 600px !important;
  }

  .h-lg-700px {
    height: 700px !important;
  }
  .h-lg-800px {
    height: 800px !important;
  }

  .w-lg-40px {
    width: 40px !important;
  }

  .w-lg-50px {
    width: 50px !important;
  }

  .w-lg-60px {
    width: 60px !important;
  }

  .w-lg-70px {
    width: 70px !important;
  }

  .w-lg-80px {
    width: 80px !important;
  }

  .w-lg-100px {
    width: 100px !important;
  }

  .w-lg-200px {
    width: 200px !important;
  }

  .w-lg-280px {
    width: 280px !important;
  }

  .w-lg-400px {
    width: 400px !important;
  }
}
@media (min-width: 1200px) {
  .vh-xl-100 {
    height: 100vh !important;
  }

  .h-xl-20px {
    height: 20px !important;
  }

  .h-xl-30px {
    height: 30px !important;
  }

  .h-xl-40px {
    height: 40px !important;
  }

  .h-xl-50px {
    height: 50px !important;
  }

  .h-xl-60px {
    height: 60px !important;
  }

  .h-xl-70px {
    height: 70px !important;
  }

  .h-xl-100px {
    height: 100px !important;
  }

  .h-xl-200px {
    height: 200px !important;
  }

  .h-xl-300px {
    height: 300px !important;
  }

  .h-xl-350px {
    height: 350px !important;
  }

  .h-xl-400px {
    height: 400px !important;
  }

  .h-xl-500px {
    height: 500px !important;
  }

  .h-xl-600px {
    height: 600px !important;
  }

  .h-xl-700px {
    height: 700px !important;
  }

  .w-xl-40px {
    width: 40px !important;
  }

  .w-xl-50px {
    width: 50px !important;
  }

  .w-xl-60px {
    width: 60px !important;
  }

  .w-xl-70px {
    width: 70px !important;
  }

  .w-xl-80px {
    width: 80px !important;
  }

  .w-xl-100px {
    width: 100px !important;
  }

  .w-xl-200px {
    width: 200px !important;
  }

  .w-xl-280px {
    width: 280px !important;
  }

  .w-xl-400px {
    width: 400px !important;
  }
}
@media (min-width: 1400px) {
  .vh-xxl-100 {
    height: 100vh !important;
  }

  .h-xxl-20px {
    height: 20px !important;
  }

  .h-xxl-30px {
    height: 30px !important;
  }

  .h-xxl-40px {
    height: 40px !important;
  }

  .h-xxl-50px {
    height: 50px !important;
  }

  .h-xxl-60px {
    height: 60px !important;
  }

  .h-xxl-70px {
    height: 70px !important;
  }

  .h-xxl-100px {
    height: 100px !important;
  }

  .h-xxl-200px {
    height: 200px !important;
  }

  .h-xxl-300px {
    height: 300px !important;
  }

  .h-xxl-350px {
    height: 350px !important;
  }

  .h-xxl-400px {
    height: 400px !important;
  }

  .h-xxl-500px {
    height: 500px !important;
  }

  .h-xxl-600px {
    height: 600px !important;
  }

  .h-xxl-700px {
    height: 700px !important;
  }

  .w-xxl-40px {
    width: 40px !important;
  }

  .w-xxl-50px {
    width: 50px !important;
  }

  .w-xxl-60px {
    width: 60px !important;
  }

  .w-xxl-70px {
    width: 70px !important;
  }

  .w-xxl-80px {
    width: 80px !important;
  }

  .w-xxl-100px {
    width: 100px !important;
  }

  .w-xxl-200px {
    width: 200px !important;
  }

  .w-xxl-280px {
    width: 280px !important;
  }

  .w-xxl-400px {
    width: 400px !important;
  }
}
